*{
	margin: 0 auto;
	padding: 0;
	border: 0;
}

#container{
	width: 1000px;
	height: 700px;
}
img{
	height: 200px;
}
#images{
	display: block;
}
#bottom{
	height: 200px;
}
#button{
	height: 25px;
	width: 60px;
	background-color: green;
	color: white;
}